html, body {
    height: 95%;
    min-height: 95vh;

    background-image: url('assets/background/website-background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

/* This file defines animations */
/* Other types of styling are set by the DOM manipulating classes for each element */
@keyframes flash {
    50% {
        opacity: 0;
    }
}

@keyframes rotateAttack {
    from {
        transform: rotate(-60deg);
    }
    to {
        transform:rotate(300deg);
    }
}

@keyframes fadeOut {
    0% { opacity: 1;}
    50% { opacity: 1;}
    100% { opacity: 0;}
}
